// @returns a states
@mixin themify($theme-map) {
	@each $state-name, $state-map in $theme-map {
		&.#{$state-name} {
			$state-val: $state-map;
			$theme-props: () !global;
			@each $prop-name, $props-val in $state-map {
				$prop-val: $props-val !global;
				$theme-props: map-merge(
					$theme-props,
					(
						$prop-name: $props-val,
					)
				) !global;
			}

			// set content
			@content;

			// dispose
			$theme-props: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-props, $key);
}
