@import '../themes/themify';
@import '../utils/px2rem';

@mixin form($themes) {
    form {
        overflow: hidden;
        .form-input__group label {
            display: inline-flex;
            flex-direction: column;
        }
        @include themify($themes) {
            color: themed(font-color);
            background: themed(bg-color);
        }
    }
}
